.page{
	width : 950px;
	margin : auto;
	font-size :16px;
	font-family:'Source sans Pro', Calibri,Tahoma, sans-serif;
}
.infophoto{
	height : 250px;
}
.info{
	float : left;
}
.photo{
	float : right;
}
.section{
	margin-bottom: 60px;
}
.sec-gauche{
	float : left;
}
.sec-droite{
	margin-left :150px;
}
.strong{
	font-size :26px;
}
.section{
	margin-bottom: 10px;
	text-align : justify;
}
h2{
	font-size: 28px;
	color : #3388BB;
	text-transform : uppercase;
	border-bottom : 3px solid #3388DD;	
}
.sec-gauche{
	float : left;
	font-weight : bold;
	font-size : 16px;
}
.sec-droite{
	margin-left :150px;
}
#format p{
	margin-bottom: 18px;
	font-weight : bold;
}
.sec-droite{
	margin-left :150px;
	margin-top :37px;
}
#gauche p{
	margin-top: 20px;
}
body{
	background-color : #CCCCCC;
}


